---
import '../layouts/MainLayout.astro'
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title={'About Me'}>
    <div class="w-6/12 mx-auto">
        <h1 class="text-5xl">About Me<br><br></h1>
        <img
          src="src/images/Omm2.jpg" width="20%" class="my-2 shadow-md drop-shadow-[10px_10px_35px_rbga(255,255,255,.3)] circular--square"/>
          <p>
            <br>Welcome to my personal space! I'm a Computer Engineering student with a strong passion for technology, and I'm currently enrolled in the International Program at KMUTT. My journey is driven by a fascination with graphics, game development, and robotics. I believe that these fields hold the key to unlocking endless possibilities in the digital world. As you explore my website, you'll get to know more about my academic pursuits, skills, projects, and experiences.
          </p><br />
          <p>
           My name is Om Kumar Kaushik and I am born on the 6th of September in 2004. I am currently 19 years old.
          </p><br />
          <p>
            
During my leisure hours when I'm not engrossed in work, I enjoy exploring diverse and imaginative storylines in anime. It's a captivating medium that allows me to experience different realms and ignite my creativity. In addition to anime, I also dedicate my precious moments to the world of video games. Video games offer me the opportunity to embark on epic adventures, solve intricate puzzles, and engage in thrilling battles, all while honing my strategic and problem-solving skills. These hobbies provide me with a delightful escape from the demands of everyday life and serve as a source of relaxation and inspiration.
          </p>
        </div>      
</MainLayout>