---
import '../layouts/MainLayout.astro'
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title={'Contact'}>
    <div class="w-6/12 mx-auto">
        <h1 class="text-5xl">Contact<br></h1>
          <p>
            <br>I'm always eager to connect with fellow enthusiasts, potential collaborators, or anyone interested in technology. If you have questions, ideas, or just want to reach out, this is the page to do it. Feel free to drop me a message, and I'll get back to you as soon as possible. Let's connect, share insights, and explore the ever-expanding world of technology together. I'm looking forward to hearing from you!
          </p><br />
          <p>
            Mobile: +66 622243311
           </p><br />
           <p>
            Email: Okk060904@gmail.com
           </p><br />
           <p>
            Discord: okkaushik
           </p><br />
        </div>      
</MainLayout>