---
import '../layouts/MainLayout.astro'
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title={'About Me'}>
    <div class="w-6/12 mx-auto">
        <h1 class="text-5xl">Education<br> </h1>
          <p>
            <br>I am currently enrolled in KMUTT's computer engineering course. Prior to this, I studied at International Pioneers School (IPS).
          </p><br />
          <p>
            At KMUTT, I've had the opportunity to delve into the fascinating world of UX/UI design and research. I've worked on projects that focus on improving the user experience and creating intuitive interfaces. My academic journey has also been enriched by engaging in past works and research endeavors that have allowed me to apply my knowledge in real-world contexts. Don't miss the chance to explore these educational experiences, and I'll even provide you with a link to my UX/UI blog.
          </p><br />
          <p><a href="https://www.notion.so/okk3487/CPE123-UX-UI-Homepage-68c2ca5707894e30abd0c2a9dcdf137c?pvs=4" class="inline-flex items-center font-medium text-blue-600 dark:text-blue-500 hover:underline">
            Click here to view my blog!
            <svg class="w-4 h-4 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg>
            </a></p>
        </div>      
</MainLayout>