---
import '../layouts/MainLayout.astro'
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title={'Skills'}>
    <div class="w-6/12 mx-auto">
        <h1 class="text-5xl">Skills<br></h1>
          <p>
            <br>In my academic journey at KMUTT, I've honed a diverse set of skills and had the privilege of working on some incredible projects. From programming in various languages to designing and creating engaging graphics and games, my technical abilities have grown significantly. My passion for robotics has led me to explore cutting-edge solutions, and I'm always excited to take on new challenges. Explore this page to get a glimpse of my skills and the exciting projects I've been a part of.
          </p><br />
          <p><a href="https://drive.google.com/file/d/1moH_IuyOsa0VsUFvQUQoDb9T0QoICj7r/view?usp=sharing" class="inline-flex items-center font-medium text-blue-600 dark:text-blue-500 hover:underline">
            Click here to visit my view my past works and achievements!
            <svg class="w-4 h-4 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg>
            </a></p>
        </div>      
</MainLayout>